
.noComments {
    display: flex;
    flex-direction: row;
}

.sadImage {
    
    color: blue;
    width: 25em;
    height: 25em;
    /* background-color: blue; */
   
}

.noCommentsText {
    text-align: start;
    width: 20em;

}

